<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>URL SHORTER !!!!</title>
	<link rel="stylesheet" href="/stylesheets/style.css"></link>
</head>
<body>

    {{{body}}}

</body>
</html>